{% load i18n future pages_tags %}

{% spaceless %}
{% if page_branch_in_menu %}
<div class="row">
    <div class="col-lg-12">
    <div class="col-lg-4 text-center">

        <a class="mainnav custom-title-font {% if on_home %}top_nav_active{% endif %}" href="{% url "home" %}">{% trans "Home" %}</a>
            {% for page in page_branch %}

                    {% if page.in_menu %}

                            <a class="mainnav custom-title-font {% if page.is_current_or_ascendant %}top_nav_active{% endif %} " href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                    {% endif %}

            {#    {% if page.is_primary %}#}
            {#        {% if forloop.first %}#}
            {#            <div class="row">#}
            {#        {% endif %}#}
            {#        {% if page.in_menu %}#}
            {#            <li><ul>#}
            {#        {% endif %}#}
            {#    {% endif %}#}
            {##}
            {#    {% if page.in_menu %}#}
            {#        {% if forloop.first and not page.parent.in_menu and not page.is_primary %}#}
            {#            <li><ul>#}
            {#        {% endif %}#}
            {#        <li {% if page.is_current_or_ascendant %}class="active"{% endif %}#}
            {#            id="footer-menu-{{ page.html_id }}">#}
            {#            <a class="footerText" href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>#}
            {#    {% endif %}#}
            {##}
            {#    {% if page.in_menu and page.has_children_in_menu %}{% page_menu page %}{% endif %}#}
            {##}
            {#    {% if page.in_menu %}#}
            {#        {% if forloop.first and not page.parent.in_menu and not page.is_primary %}#}
            {#            </li></ul>#}
            {#        {% endif %}#}
            {#    {% endif %}#}
            {##}
            {#    {% if page.is_primary %}#}
            {#        {% if page.in_menu %}#}
            {#            </ul></li>#}
            {#        {% endif %}#}
            {#        {% if forloop.last %}#}
            {#            </div>#}
            {#        {% endif %}#}
            {#    {% endif %}#}

            {% endfor %}
    </div>
    </div>
</div>
{% endif %}


{% endspaceless %}


