{% extends "pages/page.html" %}

{% load mezzanine_tags %}
{% block title %}
    Who Are We
{% endblock %}
{% block main %}{{ block.super }}
<div class="container"><center>
<p><span style="float: left;"><b>Partners and Sponsors</b></span></p>
<br />
<p><img src="http://gdayvietnam.appspot.com/img/FPT_University.jpeg" width="250px" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="http://www.gimasys.com/uploads/1/1/0/4/11046894/1370943840.png" width="250px" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="http://gdayvietnam.appspot.com/img/iVIVU_logo.png" width="250px" /></p>
<p><img src="http://gdayvietnam.appspot.com/img/SaigonHub_logo.jpg" width="250" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="http://gdayvietnam.appspot.com/img/logo_netlink.png" width="250" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="http://gdayvietnam.appspot.com/img/KitKat_logo.jpg" width="250" /></p>
<p><img src="http://gdayvietnam.appspot.com/img/Logo_MC_Corp.jpg" width="250" /></p>
<p><span style="float: left;"><b>Organizers</b></span></p>
<br /><br />
<p><img src="http://gdayvietnam.appspot.com/img/gdg.jpg" width="250" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="http://gdayvietnam.appspot.com/img/biz.jpg" width="250" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="http://gdayvietnam.appspot.com/img/stud.png" width="250" /></p>
</center></div>
{% endblock %}
